*{
	padding: 0;
	margin: 0;
}
.player video{
	width: 800px;
}
.player h1{
	text-align: center;
}
.resouce{
	width: 800px;
	border: 2px solid #000000;
}
.resouce caption{
	font-weight: bold;
}
.resouce th{
	color: #ffffff;
	font-weight: bold;
	background-color: #aaaaaa;
}
.resouce td:nth-child(odd){
	background-color: #cccccc;
}
.resouce td:nth-child(even){
	background-color: #eeeeee;
}
.resouce a{
	font-weight: bold;
}
.links{
	width: 800px;
}
.links h4{
	text-align: center;
}
.links a{
	color: orange;
	text-decoration: none;
}
.links .playing{
	color:red;
	text-decoration: underline;
}