/* *{
    margin: 0;
    padding: 0;
}
.ys h1{
     
}
.preview-element {
    width: 500px;
    height: 300px;
    background: linear-gradient(217deg, #99ceff, #4c75c8);
    border: 5px solid #f5f4f4;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 1;
    transition: all 0.3s ease;
}

.preview-element:hover {
    transform: scale(1.1);
    opacity: 0.8;
} */
*{
    margin: 0;
    padding: 0;
}
ul,
ol,
li{
    list-style: none;
}
a{
    color: #000000;
    text-decoration: none;
}
.links{
    width: 1080px;
}
.links h4{
    text-align: center;
}
.links a{
    color: orange;
    text-decoration: none;
}
.links .playing{
    color: red;
    text-decoration: underline;
}
.links{
    box-sizing: border-box;
    padding: 20px;
    background-color: #eeeeee;
    margin: 0 auto;
    border-radius: 10px;
}
.links h4{
    border-bottom: 1px solidv#aaaaaa;
}
.links li{
    width: 220px;
    padding: 10px;
    margin: 4px;
    border-radius: 8px;
    border: 2px solid #aaaaaa;
    background-color: #ffffff;
}